body {
    max-width: 40em;
}

#error {
    background-color: #FFCCCC;
    border: 2px solid red;
    margin: 0 3em;
    padding: 1em;
    display: none;
}

.footer {
    margin-top: 2em;
    border-top: 2px solid black; 
}