/*
 * CSS for layout of bridge deals without using tables.
 * Originally written for my bridge articles.
 *
 * Assumes the HTML is of the form:
 *  <div class='diagram'>
 *      <div class='header'> ... optional ...</div>
 *      <div class='hand north'>... north hand ,,,</div>
 *      <div class='hand west'>... west hand ...</div>
 *      <div class='hand east'>... east hand ..,</div>
 *      <div class='hand south'>... south hand...</div>
 *  </div>
 * 
 * Order of hands is important. Where the hands look like:
 *
 *   <div class="hand east">
 *    <div class="holding spades"><span  class="holding">... cards ...</span></div>
 *    <div class="holding hearts"><span  class="holding">... cards ...</span></div>
 *    <div class="holding diamonds"><span class="holding">... cards ...</span></div>
 *    <div class="holding clubs"><span  class="holding">...cards ...</span></div>
 *   </div>
 * 
 */
 
 .diagram .header {
    font-size: smaller;
    margin-left: 0.25em;
    margin-right: 0.25em;
    margin-bottom: 0;
    margin-top: auto;
    padding: 0.25em;
    border: 0.1em outset;
    width: 6em;
    float: left;
    background: #FFFFFF;
}

.diagram {
    max-width: 23em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.diagram  .hand {
    width: 8em;
}

.diagram  .south , .diagram  .north {
    margin-left: 7em; 
}

.diagram .north {
    padding-bottom: 1ex;
}

.diagram  .south {
    clear: both;
    padding-top: 1ex;
}

.diagram  .west {
    float: left;
    clear: left;
}

.diagram  .east {
    float:right;
    padding-right: 1em;
}


.red {
    color: red;
}

.hand .seatname {
    margin-left: 1em;
    font-size: smaller;
    font-style: italic;
}

.holding:before {
    width:2em;
}

div.holding {
    white-space: nowrap;
}

.diagram .spades:before {
   content: "\2660  ";
   color: black;
}

.diagram .hearts:before {
   color: red;
   content: "\2665  ";
}

.diagram .diamonds:before {
   content: "\2666  ";
   color: red;
}

.diagram .clubs:before {
   content: "\2663  ";
   color: black;
}