body {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

#error {
    background-color: #FFCCCC;
    border: 2px solid red;
    margin: 0 3em;
    padding: 1em;
    display: none;
}

.footer {
    margin-top: 2em;
    border-top: 2px solid black; 
}

body {
    background: #FFEEDD;
    font-family: "Helvetica Narrow",san-serif;
    line-height: 1.5;
    font-size: 14px;
}

#dealindex a { font-size: 80%;}

A:link {
   color: #003399;
}

A:visited {
   color: #222255;
}

A {
   font-weight: bold;
}

A:hover {
   color: white ;
   background: #3366CC ;
}

A:active {
   color: #000099 ;
}

table.datatable  {
    margin-left: auto ;
    margin-right: auto 
}

div.body , div.signature {
    clear: left;
    width: 90%;
    margin-left: 5%;
}


div.footer {
    clear: left;
}


div, p, li {
  max-width: 7.5in;
}

#dealindex {
    text-align: center;
}

.diagram {
    margin-left: auto;
    margin-right:auto;
}

select {
    background-color: rgba(255,255,255,0.50)
}

.page {
    background: url("../img/vintage-paper-book-aged.jpg") no-repeat;
    background-size: cover;
    padding-left: 4em;
    padding-right: 4em;
    margin-bottom: 2em;
    width: auto;
}

.page h1, .page h2 {
    text-align: center;
}
  
.pageHeader, .pageFooter {
    width:100%;
    text-align: center;
    font-size: 80%;
}

.page .pageHeader {
    margin-bottom: 4em;
    margin-top:  0;
    padding-top: 1ex;
}

.page .pageFooter {
    margin-top: 4em;
    margin-bottom: 0;
    padding-bottom: 1ex;
}

#commitURL {
    display: none;
}
